@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap');


:root{
    --Dark-Blue: #2b3945; 
    --Very-Dark-Blue: #202c37;
    --Very-Dark-Blue: #111517;
    --Dark-Gray: #858585;
    --Very-Light-Gray: #fafafa;
    --White:#ffffff;
    --font-main: 'Nunito Sans', sans-serif;
}

@media (max-width:768px) {
    .box_main .search_container .form{
        padding: 12% 5% 1% 5%;
    }
}

@media (max-width:425px) {
    .box_main .search_container .form{
        padding: 24% 5% 1% 2.7%;
    }

    .search_container .form .search_pesquisa{
        width: 100%;
        margin-bottom: 3rem;
    }

    .search_container .form .select_filter{
        width: 60%;
    }
}

@media (max-width:375px) {
    .box_main .search_container .form{
        padding: 35% 0 0 0;
    }
}

@media (max-width:320px) {
    .box_main .search_container .form{
        padding: 40% 5% 1% 2.7%;
    }
}
